body {
    background-image: url("../images/memphis-colorful.png");
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 80px;
}

h2 {
    font-size: 36px;
}

header {
    background-color: #222;
}

#logo {
    width: 500px;
    padding: 10px 0 10px 50px;
}

#giphy {
    position: absolute;
    right:0;
    top: 0;
}

nav {
    text-align: center;
}

.categories {
    background-color: #FFF;
    width: 70%;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 50px auto;
    padding-top:10px;
}

.category-button {
    font-size: 16px;
    /* font-weight: bold; */
    padding: 10px;
    margin: 20px 10px;
    background-color: #e4e4e4;
    border-radius: 8px;
}

.category-button:hover {
    background-color: #222;
    color: #fff;
}

.gifs {
    column-count: 6;
    column-gap: 10px;
    width: 70%;
    margin: 0 auto;
}

.gif-div {
    margin-top: 5px;
    background-color: #fff;
    display: inline-block;
}

#add-input {
    margin-bottom: 15px;
    padding:4px;
    border-radius: 4px;
}

#add-button {
    background-color: #222;
    color: #FFF;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 6px 12px;
}

#add-button:hover {
    background-color: #222;
    color: #42E34D;
    border-color: #42E34D;
}

button:focus {outline:0;}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #222222;
    border-top: 5px solid #42E34D;
}

footer small {
    line-height: 40px;
    color: #FFF;
    font-size: 12px;
}